.container {
  display: flex;
  top: 30%;
  flex-direction: column;
  position: absolute;
  padding: 20px;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.233);
  border-radius: 8px;
}

.input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.699);
  margin-bottom: 15px;
  padding: 2px 0px;
}
:focus {
  outline: none;
}
.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 24px;
  font-weight: 500;
}

.closeButton {
  cursor: pointer;
  background-color: #f4f4f4;
  border: none;
}
