@use "../../../utils/styles/colors" as color;
@use "../../../utils/styles/shadows" as shadow;

.container {
  width: 100%;
  padding-bottom: 96px;
  height: 100%;
  overflow-y: auto;
  .checkBox {
    display: flex;
    align-items: center;
    border: 0;
    background-color: transparent;
    .checkBoxIcon {
      font-size: 24px;
      margin-right: 24px;
    }
  }
  .taskContainer {
    position: relative;
    display: flex;
    width: 100%;
    border: 0;
    padding-left: 24px;
    margin-bottom: 16px;
    .innetTaskContainer {
      background-color: transparent;
      word-break: break-all;
      width: 100%;
      border-radius: 8px;
      border: 0;
      padding: 8px;
      cursor: pointer;
      .title {
        color: color.$black100;
        text-align: left;
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: 400;
      }
      .titleCompleted {
        text-decoration: line-through;
        color: color.$black100;
        text-align: left;
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: 400;
      }
      .taskFooter {
        display: flex;
        .date {
          display: flex;
          align-items: center;
          padding: 0px 16px;
          border-radius: 20px;
          font-size: 12px;
          font-weight: 400;
          margin-right: 16px;
          background-color: color.$black25;
        }
        .category {
          display: flex;
          align-items: center;
          padding: 0px 16px;
          border-radius: 20px;
          font-size: 16px;
          font-weight: 400;
          margin-right: 16px;
        }
      }
    }
    .moreVertButton {
      margin: 4px;
      font-size: 24px;
    }
    .deleteModal {
      position: absolute;
      top: 8px;
      right: 8px;
      z-index: 1;
      background-color: color.$black100;
      padding: 4px 8px;
      font-size: 12px;
      font-weight: 100;
      border-radius: 4px;
      color: color.$white;
      cursor: pointer;
    }
  }
  .line {
    margin-left: 24px;
    margin-bottom: 16px;
    border: none;
    height: 1px;
    background-color: color.$black10;
  }
}

@media screen and (min-width: 900px) {
  .container {
    width: 100%;
    padding: 0px 10px 16px 10px;
    .titleContainer {
      border-radius: 16px;
    }
  }
}
