@use "../../../utils/styles/colors" as color;
@use "../../../utils/styles/shadows" as shadow;

.container {
  width: 100%;
  padding-bottom: 16px;
  .checkBox {
    display: flex;
    align-items: center;
    border: 0;
    background-color: transparent;
    .checkBoxIcon {
      font-size: 24px;
      margin-right: 24px;
    }
  }
  .taskContainer {
    display: flex;
    width: 100%;
    border: 0;
    margin-left: 24px;
    margin-bottom: 16px;
    .titleContainer {
      background-color: transparent;
      word-break: break-all;
      width: 100%;
      border-radius: 8px;
      border: 0;
      padding: 8px;
      .titleCompleted {
        text-decoration: line-through;
        color: color.$text-secondary;
      }
      .taskFooter {
        display: flex;
        .date {
          display: flex;
          align-items: center;
          padding: 0px 16px;
          border-radius: 20px;
          font-size: 16px;
          font-weight: 400;
          margin-right: 16px;
        }
        .category {
          display: flex;
          align-items: center;
          background-color: color.$black25;
          padding: 0px 16px;
          border-radius: 20px;
          font-size: 16px;
          font-weight: 400;
          margin-right: 16px;
        }
      }
    }
  }
  .line {
    margin-left: 24px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 900px) {
  .container {
    width: 100%;
    padding: 0px 10px 16px 10px;
    .titleContainer {
      border-radius: 16px;
    }
  }
}
