$background-primary: #f8f1ff;
$background-secondary: #f8f1ffda;
$background-tertiary: #f8f1ffaf;
$background-dark: #3d3d3d;

$button-primary: #1b998b;

$text-primary: #f8f1ff;
$text-secondary: #656176;

$border-primary: #decdf5;
