$background-primary: #ffffff;
$background-secondary: #e7e7e7da;
$background-terciary: #fcfcfc;
$background-quartenary: #717171;
$background-semi-transparent: #000000c0;
$background-transparent: #00000000;


$background-dark: #3d3d3d;

$button-primary: #79b082;

$text-primary: #f8f1ff;
$text-secondary: #656176;
$text-terciary: #1b998b;

$border-primary: #decdf5;

$delete: #ca6d6d;
$toggle: #6ca0cb;
