$background-primary: #ffffff;
$background-secondary: #f4f4f4;
$background-tertiary: #e6e6e6;
$background-dark: #3d3d3d;

$button-primary: #1267e7;

$text-primary: #303030;
$text-secondary: #f4f4f4;

$border-primary: #303030;
