@use "../../utils/styles/colors" as color;
@use "../../utils/styles/shadows" as shadow;

.container {
  background-color: color.$background-primary;
  width: 100%;
  padding-bottom: 16px;
  .taskContainer {
    display: flex;
    width: 100%;
    border: 0;
    background-color: color.$background-primary;
    padding-left: 10px;
    .titleContainer {
      word-break: break-all;
      background-color: color.$background-terciary;
      width: 100%;
      border-radius: 8px 0px 0px 8px;
      border: 0;
      box-shadow: shadow.$primary;
      padding: 8px;
      &:hover{
        background-color: color.$background-secondary;
        cursor: pointer;
      }
      .titleCompleted {
        text-decoration: line-through;
        color: color.$text-secondary;
      }
    }
    .buttonsContainer {
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      .time {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        color: color.$text-terciary;
      }
      .date {
        font-size: 12px;
        color: color.$text-secondary;
      }
      .eventsContainer {
        display: flex;
        .toggleButton {
          font-size: 24px;
          background-color: color.$background-primary;
          border: none;
          border-radius: 4px;
          padding: 0px 4px;
          cursor: pointer;
          &:hover {
            color: color.$toggle;
          }
        }
        .deleteButton {
          font-size: 24px;
          background-color: color.$background-primary;
          border: none;
          cursor: pointer;
          &:hover {
            color: color.$delete;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .container {
    background-color: color.$background-primary;
    width: 100%;
    padding: 0px 256px 16px 256px;
    .titleContainer {
      border-radius: 16px;
    }
  }
}
