.tasksContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  grid-template-columns: 300px 300px 300px;
  padding: 20px;
}

.container {
  width: 250px;
  word-break: break-all;
  /* height: 150px;
  background-color: #e48d3c; */
}

.title {
  width: 80%;
  height: 50px;
  background-color: aqua;
}

.comments {
  width: 80%;
  // height: 50px;
  background-color: yellowgreen;
}
