@use "../../utils/styles/colors" as color;

.container {
  background-color: color.$background-primary;
  width: 100%;
  margin-bottom: 16px;
  .taskContainer {
    display: flex;
    width: 100%;
    .timeContainer {
      margin-right: 20px;
      .time {
        font-size: 16px;
        font-weight: 600;
        color: color.$text-terciary;
      }
      .date {
        font-size: 12px;
        color: color.$text-secondary;
      }
    }
    .titleContainer {
      background-color: color.$background-terciary;
      width: 100%;
      border-radius: 8px;
      padding: 8px;
    }
  }
}
