@use "../../../utils/styles/colors" as color;
@use "../../../utils/styles/shadows" as shadow;

.container {
  display: flex;
  flex-direction: column;
  .input {
    border: none;
    border-bottom: 1px solid color.$border-primary;
    margin-bottom: 24px;
    padding: 4px 0px;
    resize: none;
    height: 32px;
  }
  :focus {
    outline: none;
  }
}
.button {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  padding: 4px 8px;
  border: 0;
  background-color: color.$button-primary;
  color: color.$text-primary;
  font-size: 16px;
  border-radius: 8px;
}
