.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  background-color: #ffffff;
  padding: 15px;
}
.title {
  width: 100%;
  color: rgba(0, 0, 0, 0.699);
  font-size: 48px;
  margin-bottom: 100px;
}

.innerContainer {
  background-color: #ffffff;
  padding: 20px;
  width: 500px;
  min-height: 100px;
}
