@use "../../utils//styles/colors" as color;

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: color.$background-primary;
  height: 100vh;
  .titleContainer {
    display: flex;
    width: 100%;
    align-items: center;
    .title {
      color: rgba(0, 0, 0, 0.699);
      font-size: 28px;
      margin-right: 20px;
    }
    .button {
      display: flex;
      align-items: center;
      padding: 5px;
      height: 35px;
      border: 0;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.233);
      background-color: #1267e7;
      color: color.$background-primary;
      border-radius: 3px;
    }
    .icon {
      margin-right: 4px;
      font-size: 20px;
    }
    .buttonText {
      font-size: 15px;
    }
  }

  .innerContainer {
    background-color: color.$background-primary;
    padding: 20px;
    width: 400px;
    min-height: 100px;
  }
}

@media (min-width: 600px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    background-color: color.$background-primary;
    .titleContainer {
      display: flex;
      width: 100%;
      align-items: center;
      .title {
        color: rgba(0, 0, 0, 0.699);
        font-size: 40px;
        margin-right: 20px;
      }
      .icon {
        margin-right: 4px;
        font-size: 20px;
      }
      .button {
        display: flex;
        align-items: center;
        padding: 5px;
        height: 35px;
        border: 0;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.233);
        background-color: #1267e7;
        color: color.$background-primary;
        border-radius: 3px;
      }
      .buttonText {
        font-size: 15px;
      }
    }

    .innerContainer {
      background-color: color.$background-primary;
      padding: 20px;
      width: 500px;
      min-height: 100px;
    }
  }
}
