@use "../../utils/styles/colors" as color;
@use "../../utils/styles/shadows" as shadow;

.container {
  display: flex;
  flex-direction: column;
  margin: 0px 32px;
  .input {
    display: flex;
    border: 1px solid color.$black100;
    border-radius: 15px;
    margin-bottom: 24px;
    padding-left: 32px;
    background-color: transparent;
    resize: none;
    height: 32px;
  }
  .comments {
    height: 200px;
    padding-top: 4px;
  }
  :focus {
    outline: none;
  }
}
.button {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  padding: 4px 8px;
  border: 0;
  background-color: color.$black100;
  color: color.$text-primary;
  font-size: 16px;
  border-radius: 8px;
}
