@use "../../utils//styles/colors" as color;

.container {
  background-color: color.$background-primary;
  text-align: center;
  margin-bottom: 32px;
  .header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 16px;    
      .sideBarIcon{
        color: color.$button-primary;
        font-size: 24px;
        margin: 4px 4px;
        cursor: pointer;
    }
    .title {
      padding-left: 20px;
      color: color.$text-secondary;
      font-size: 28px;
      margin-right: 20px;
    }
  }
  .button {
    display: flex;
    align-items: center;
    border: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.233);
    background-color: color.$button-primary;
    border-radius: 3px;
    margin-left: 20px;
  }
  .icon {
    color: color.$text-primary;
    margin: 4px 4px;
    font-size: 24px;
  }
  .buttonText {
    color: color.$text-primary;
    font-size: 16px;
    margin-inline: 8px;
  }
}

@media screen and (min-width: 900px) {
  .container{
    // margin: 0px 256px 32px 256px;
  }
}

