@use "../../utils//styles/colors" as color;
@use "../../utils//styles/shadows" as shadow;

.container {
  background-color: color.$background-primary;
  text-align: center;
  margin-bottom: 32px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
    .icons {
      display: flex;
      flex-direction: column;
      .buttonCategory {
        font-size: 24px;
        margin: 4px 4px;
        cursor: pointer;
        border: 0;
        background-color: color.$background-primary;
        &:hover {
          color: color.$button-primary;
        }
      }
      .buttonAdd {
        font-size: 28px;
        margin: 4px 4px;
        cursor: pointer;
        border: 0;
        color: black;
        background-color: color.$background-primary;
        &:hover {
          color: color.$button-primary;
        }
      }
    }
    .sideBarIcon {
      color: color.$button-primary;
      font-size: 24px;
      margin: 4px 4px;
      cursor: pointer;
    }
    .title {
      padding-left: 20px;
      color: color.$text-secondary;
      font-size: 28px;
      margin-right: 20px;
    }
  }
  .button {
    display: flex;
    align-items: center;
    border: 0;
    box-shadow: shadow.$primary;
    background-color: color.$button-primary;
    border-radius: 3px;
    margin-bottom: 8px;
  }
  .buttonText {
    color: color.$text-primary;
    font-size: 16px;
    margin-inline: 8px;
  }
}

@media screen and (min-width: 900px) {
  .header {
    flex-direction: column;
  }
}
