@use "../../utils//styles/colors" as color;

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: color.$whiteSideBar;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.233);
  z-index: 1;
  .arrowBack {
    font-size: 24px;
    cursor: pointer;
    background-color: color.$background-transparent;
    border: 0px;
    color: color.$black100;
    margin: 32px;
  }
  .profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 16px;
    width: 100%;
    height: 100%;
    .profilePic {
      font-size: 64px;
      margin-bottom: 8px;
      margin-left: 88px;
      margin-right: 88px;
    }
    .profileName {
      font-size: 32px;
      font-weight: 700;
    }
    .logout {
      display: flex;
      gap: 8px;
      color: color.$black100;
      background-color: transparent;
      font-weight: 700;
      font-size: 24px;
      cursor: pointer;
      margin: 32px 32px 32px 94px;
      border: 0px;
    }
  }
}

@media screen and (min-width: 900px) {
  .container {
    margin: 0px 200px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    margin: 0px 400px;
  }
}
