@use "../../utils//styles/colors" as color;

.loginSection {
  display: flex;
  flex-direction: column;
  padding-top: 160px;
  padding-left: 16px;
  color: color.$text-secondary;
  height: 100%;
  flex-grow: 1;
  .title {
    color: color.$black75;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 8px;
  }
  .form {
    margin-top: 32px;
    margin-bottom: 118px;
    .container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 16px;
      padding-right: 8px;
      .label {
        margin-right: 8px;
      }
      .input {
        width: 100%;
        border: none;
        border-radius: 10px;
        padding: 4px;
        box-sizing: border-box;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.081);
      }
    }
    .loginButton {
      margin-top: 32px;
      border: none;
      background: rgb(110, 116, 217);
      background: linear-gradient(
        90deg,
        rgba(110, 115, 217, 0.222) 0%,
        rgba(255, 0, 255, 0.238) 100%
      );
      border-radius: 8px;
      padding: 8px 32px;
      color: color.$black100;
      font-size: 20px;
      margin-right: 32px;
      cursor: pointer;
    }
    .forgotPasswordButton {
      background-color: transparent;
      color: color.$black75;
      border: none;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
    }
  }
  .createAccount {
    display: flex;
    align-items: center;
    .createAccountButton {
      margin-left: 16px;
      border: 1px solid color.$black100;
      background-color: transparent;
      border-radius: 8px;
      padding: 4px 8px;
      font-size: 16px;
      color: color.$black75;
    }
  }
}

@media screen and (min-width: 900px) {
  .loginSection {
    margin: 0px 200px;
  }
}

@media screen and (min-width: 1200px) {
  .loginSection {
    margin: 0px 400px;
  }
}
