@use "../../../utils/styles/colors" as color;

.bottomBar {
  display: flex;
  position: fixed;
  bottom: 0;
  border-bottom: 1px solid color.$black100;
  margin-bottom: 32px;
  padding: 8px 32px;
  color: color.$black100;
  border-radius: 15px;
  font-size: 24px;
  gap: 24px;
  cursor: pointer;
  .searchContainer {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
